.Navbar-container {
    width: 100%;
    height: 8vh;
    background-color: #1061cc;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.Navbar-container img {
    height: 80%;
    margin-left: 15px;
    max-width: 150px;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.links {
    margin-right: 30px;
    display: flex;
}

.Navbar-container .links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.links ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: #90caf9;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .Navbar-container img {
        height: 60%;
        margin-left: 15px;
    }

    .links {
        display: none;
        position: absolute;
        top: 8vh;
        right: 0;
        background-color: #0e4fa3;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links.open {
        display: flex;
    }

    .Navbar-container .links ul {
        flex-direction: column;
        gap: 40px;
        margin: 20px 0;
    }

    .links {
        margin-right: 0;
    }

    .Navbar-container img {
        margin: 0 0 0 10px;
    }
}